.screen {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100%;
}

.calculator {
  display: flex;
  flex-direction: column;
  justify-content: center;
  border: 1px solid black;
  background-color: var(--calculator-background-color);
  border-radius: 1rem;
  padding: 2rem;
  max-height: 100%;
  max-width: 100%;
}

.display {
  display: flex;
  justify-content: flex-end;
  border-bottom: 1px solid var(--dark-color);
  font-size: 2rem;
  color: var(--gray-color);
}

.buttonsConteiner {
  display: flex;
  gap: 1rem;
  margin-top: 1rem;
}
.numbers {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  gap: 1rem;
}

.operators {
  display: grid;
  grid-template-rows: repeat(4, 1fr);
  grid-template-columns: repeat(2, 1fr);
  gap: 1rem;
}
.button {
  display: grid;
  place-items: center;
  width: 3.7rem;
  height: 3.7rem;
  border: 1px solid var(--dark-color);
  box-shadow: 1px 2px 5px var(--btn-shadow-color);
  font-size: 1.2rem;

  background-color: var(--btn--background-color);
  border-radius: 10px;
  cursor: pointer;

  color: rgb(110, 22, 22);
}

.disabled {
  background-color: var(--gray-color);
}

.operator {
  background-color: var(--color-is-operator);
}

@media screen and (max-width: 768px) {
  .display {
    font-size: 1.5rem;
  }
  .button {
    width: 2.5rem;
    height: 2rem;
    font-size: 0.8rem;
  }
}

@media screen and (max-width: 425px) {
  .button {
    border-radius: 50%;
  }
}
